# 로컬 개발에서만 필요한 파일/폴더 무시
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
.DS_Store

# Prisma generate 결과물 및 캐시 무시 (어차피 컨테이너에서 생성)
prisma/dev.db
prisma/.env
prisma/migrations_dev
prisma/migrations/*
!.prisma
!.prisma/client

# 기타 IDE, 시스템 관련 파일 무시
.vscode
.idea
*.swp